<h1> New Exercise </h1>
<%= form_for @exercise do |f| %>
  <%= f.label :name %>: 
  <%= f.text_field :name %>

  <%= f.label :exercise_type %> 
  <%= f.text_field :exercise_type %>

  <%= f.submit %>
<% end %>

<!-- I want the exercise_type to be a drop-down menu -->